@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}
/* .DashboardPage{
  display: flex;
  background-color: #FAF8F5;
  height: 100vh;
} */

/* .navbar {
  background-color: #ffffff;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgb(226, 226, 226);
}
.navbar ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  gap: 5px;
  padding: 15px;
} */
/* 
.wallet{
  width: 100%;
} */

.form-login input {
  border: 1px solid rgb(169, 32, 169);
  border-radius: 20px;
  width: 80%;
  color: rgb(32, 32, 32);
  padding: 5px 12px;
}
.form-login label {
  font-size: 18px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}
.social-btn-lf {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  border: 1px solid rgb(104, 81, 104);
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(88, 88, 88);
  cursor: pointer;
}
.social-btn-lf:hover{
  background-color: rgb(240, 240, 240);
}
/* .social-btn-lf .sblf-icon-cont{
  font-size: 40px;
} */
.login-componnt-cont{
  background: linear-gradient(180deg, rgba(72,0,103,1) 0%, rgba(143,0,176,1) 0%, rgba(77,172,255,1) 16%);
  -webkit-box-shadow: -1px 0px 20px 5px rgba(77,77,77,0.31);
-moz-box-shadow: -1px 0px 20px 5px rgba(77,77,77,0.31);
box-shadow: -1px 0px 20px 5px rgba(77,77,77,0.70);
}